body{
    background-color: #1a3663;
    color: #ffff;
    background-position: center;
    
}
h1{
    font-style: italic;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-position: center;
}        